fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
alembic
pytest
httpx
debugpy
opentelemetry-sdk==1.35.0
opentelemetry-exporter-otlp==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-instrumentation-sqlalchemy==0.56b0
opentelemetry-instrumentation-fastapi==0.56b0